
<div>
		<% @questions.each do |question| %>
			<p><a href="/questions/<%=question.id %>"><%= question.title %></a></p>
			<p>Answers: <%= question.answers.length  %></p>
			<p>Votes: <%= question.votes  %></p>
		<% end %>
</div>

